@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.clear:after {
  content: " ";
  display: block;
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

html, body {
  min-width: 1000px;
  height: 100%; }

a {
  text-decoration: none;
  color: #30c2c5;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s; }
  a:hover {
    color: #f69a12; }

body {
  font-family: '微软雅黑 Light';
  padding-top: 80px;
  background-color: #f7f7f7;
  position: relative;
  min-height: 500px; }

pre {
  font: inherit; }

/*top is reset*/
header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 80px;
  line-height: 80px;
  background-color: #333;
  padding: 0 50px;
  box-shadow: 0 3px 3px rgba(48, 194, 197, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99; }

.header-title {
  color: #30c2c5;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8); }

::selection {
  color: #fff;
  background-color: #30c2c5; }

.header-nav-item {
  padding: 0 1em;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  margin: 0 7px;
  min-width: 100px;
  text-align: center; }

.header-nav-item:hover {
  color: #30c2c5;
  cursor: pointer;
  background-color: #444; }

.header-nav-item.active {
  -webkt-transform-origin: top center;
  transform-origin: top center;
  transform: scale(1.1);
  color: #1e4546;
  background-color: #30c2c5;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  font-size: 18px; }

main {
  height: 100%;
  display: -webkit-flex;
  display: flex; }

.main-r {
  height: 100%;
  margin-left: 20px;
  background-color: #fff;
  -webkit-flex: 1;
  flex: 1; }

aside {
  width: 180px;
  background-color: #fff;
  height: 100%; }

.aside-nav {
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.2);
  height: 100%;
  padding: 15px 0; }

.aside-nav-item {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  transform-origin: left center; }
  .aside-nav-item:hover {
    cursor: pointer;
    text-indent: 1em;
    background-color: #f7f7f7; }
  .aside-nav-item.active {
    text-indent: 1em;
    background-color: #f7f7f7;
    transform: scale(1.1);
    color: #30c2c5; }
  .aside-nav-item .solve-panel {
    position: absolute; }

h2 {
  height: 60px; }

h3 {
  color: #999; }
  h3:before {
    content: '#';
    color: #30c2c5; }

.stage-panel {
  margin: 20px;
  line-height: 1.7; }

.stage-list {
  padding: 10px 15px; }

.stage-panel-item {
  counter-increment: stgelist;
  display: block;
  color: #30c2c5;
  font-size: 14px;
  line-height: 30px;
  position: relative; }
  .stage-panel-item:before {
    content: counter(stgelist) "."; }
  .stage-panel-item:hover .solve-panel {
    visibility: visible;
    opacity: 1;
    bottom: 100%; }

.solve-panel {
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  visibility: hidden;
  opacity: 0;
  counter-reset: stgelist;
  position: absolute;
  bottom: 50%;
  left: 50px;
  right: 0;
  color: #666; }
  .solve-panel:after {
    content: '';
    display: block;
    width: 20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.1));
    height: 10px;
    box-sizing: border-box;
    margin-top: -1px;
    margin-left: 20px; }
  .solve-panel .solve-panel-main {
    padding: 15px;
    box-shadow: 1px -1px 6px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border: 1px solid #e3e3e3; }

.stage-features {
  margin: 15px 0; }
  .stage-features .stage-features-detail {
    font-size: 14px;
    color: #666;
    padding: 10px 15px;
    text-indent: 2em; }

.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1000px;
  min-height: 400px;
  display: none; }

.layer-wrap {
  position: relative;
  height: 100%;
  width: 100%; }
  .layer-wrap .layer-mark {
    position: absolute;
    z-index: 900;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
    .layer-wrap .layer-mark.in {
      animation: layer-mark-in 0.6s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .layer-wrap .layer-mark.out {
      animation: layer-mark-out 0.6s ease-in-out;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
  .layer-wrap .layer-main {
    position: absolute;
    top: -100%;
    right: 0;
    width: 50%;
    height: 90%;
    opacity: 0;
    background-color: #fff;
    box-shadow: -2px 0 5px 1px rgba(0, 0, 0, 0.7);
    z-index: 901; }
    .layer-wrap .layer-main.in {
      animation: layer-main-in 0.7s cubic-bezier(0, 1.16, 0.37, 1.48);
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }
    .layer-wrap .layer-main.out {
      animation: layer-main-out 0.7s cubic-bezier(0, 1.16, 0.37, 1.48);
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards; }

.solve-panel {
  max-height: 300px;
  overflow-y: auto; }

.division {
  color: #ddd; }

.tips {
  font-size: 12px;
  padding: 20px 0;
  color: #999; }

.stage-panel-title {
  cursor: pointer;
  display: inline-block; }

.main-r {
  position: relative;
  overflow-x: hidden; }

.main-r-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  padding: 15px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.49, 0.96, 0.36, 1.33) 0s;
  transition: all 1s cubic-bezier(0.49, 0.96, 0.36, 1.33) 0s; }
  .main-r-item.active {
    opacity: 1;
    left: 0; }

@-webkit-keyframes layer-main-out {
  0% {
    top: 5%;
    opacity: 1; }
  30% {
    top: 20%;
    opacity: 0.6; }
  90% {
    top: 70%;
    opacity: 0; }
  100% {
    top: 100%;
    opacity: 0;
    display: none; } }
@-webkit-keyframes layer-main-in {
  0% {
    opacity: 0;
    top: -100%; }
  30% {
    opacity: 0.2;
    top: -40%; }
  100% {
    opacity: 1;
    top: 5%; } }
@-webkit-keyframes layer-mark-in {
  0% {
    opacity: 0; }
  30% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
@-webkit-keyframes layer-mark-out {
  0% {
    opacity: 1;
    left: 0; }
  20% {
    left: 80px;
    opacity: 0.6; }
  100% {
    left: 100%;
    opacity: 0; } }
.demo {
  color: #333;
  border: 1px solid #e3e3e3;
  background-color: #f8f8f8;
  margin: 10px 20px 30px 40px;
  padding: 40px 30px 20px 10px;
  font-size: 20px; }

/*# sourceMappingURL=style.css.map */
