@charset "utf-8";
/* CSS Document */
/*******************************运维管理平台****************************/
body,html{
	height: 100%;
	width: 100%;
}
*{ margin:0px; padding:0px;font-family:"微软雅黑"; box-sizing: border-box;font-size: 14px;}
a,em,input{font-family:"微软雅黑"; font-style:normal;}
body{ width:100%; height:100%;}
li{ list-style:none;}
a{ text-decoration:none;}
.clear{ clear:both;}
.hide{ display:none;}
img{ border:none;}
.ml15{ margin-left:15px;}
.mr15{ margin-right:15px;}
.mt12{ margin-top:12px;}
.mt5{ margin-top:5px;}
.mt8{ margin-top:8px;}
.l{ float:left;}
.r{ float:right;}
.pd4{ padding:4px 0px;}
.pd10{ padding:10px;}
.fs13{ font-size:13px}
.fs14{ font-size:14px}
.fs15{ font-size:15px}
.fs18{ font-size:18px}
.fs20{ font-size:20px}
.fs24{ font-size:24px}
.grey{ color:#b7b7b7;}
.red{ color:#ff663a;}
.green{ color:#51d700;}
.zts-font{ color:#4b6f81;}
.fb{ font-weight:bold;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.tr{ text-align:right;}
.clear{zoom:1;}
.clear:after{content:'';display:block;clear:both; height:0; font-size:0;}
/*******************************登录页面****************************/
.login-bg{ height:100%; width:100%; background:url(../images/bg.jpg) center top no-repeat; font-size:14px;}
.login-nav{ width:763px; margin:0px auto;}
.login-logo{ padding-top:100px;}
.login-box{ height:302px; margin-top:40px; background:url(../images/login-box-bg.png) center top no-repeat;}
.login-from{ width:292px; margin-left:445px; padding-top:40px;}
.form-bg-top{ background:url(../images/login-box-top.png) left top no-repeat; padding-top:13px; margin-top:12px;}
.form-bg-bottom{ background:url(../images/login-box-bottom.png) left bottom no-repeat; padding:7px 18px 20px 18px;}
.warn-kl{ margin-bottom:12px; border:1px solid #f7995a; border-radius:4px; line-height:30px; color:#ff6600; padding:0px 10px; margin-right:5px; background:#fdf9f6;}
.login-from p span{ display:inline-block; vertical-align:top; line-height:32px;}
.login-from .text{ width:205px; height:32px; line-height:32px; text-indent:4px; border:1px solid #e0e0e0; background:#FFF; border-radius:4px;}
.login-btn{ width:204px; margin-right:5px;}
/*******************************按钮样式****************************/
.btn-34{ display:inline-block; height:34px; line-height:34px; border-radius:4px; background:#4b6f81; cursor:pointer; text-align:center; padding:0px 12px; border:none; color:#FFF;}
.btn-34:hover{ background:#658b9e;}

/*******************************首页****************************/
.body-bg{ background:#f2f2f2; font-size:14px;}
.menu-bg{ width:100%; height:40px; background:#4b6f81; border-top:1px solid #dedcdc; border-bottom:1px solid #dedcdc; position:relative;}
.cancel{ position:absolute;right:5px; top:5px; display:inline-block; width:20px; height:22px; background:url(../images/cancel.png) 2px 2px no-repeat; cursor:pointer; padding:13px 12px;}
.cancel:hover{ background-color:#6496b0; border-radius:4px;}
.menu-nav{ width:1024px; margin:0px auto;}
.menu-nav ul li{ margin:4px 20px 3px 0px; line-height:30px; float:left;}
.menu-nav ul li a{ color:#FFF; display:inline-block; padding:0px 15px;}
.menu-nav ul li.cur{ background:#5a8ba4; border-radius:4px;}
.menu-nav ul li.cur a{}
.menu-nav ul li:hover{ background:#5a8ba4; border-radius:4px;}
.menu-nav ul li:hover a{}
.msg{ position:relative;}
.msg span{ position:absolute; right:0px; top:0px; width:21px; height:21px; line-height:21px; display:inline-block; background:url(../images/msg-qq.png) no-repeat; text-align:center; color:#FFF; font-family:"宋体"; font-size:10px;}
.se-li{ position:relative; display:inline-block;}
.se-item{ text-align:center; background:#fefefe; position:absolute; top:30px; left:-12px; border-radius:4px; padding:5px 10px 5px 10px; display:none;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27); 
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27);
}
.se-li:hover .se-item,.se-item:hover{display: block;}
.se-item span{ position:absolute; top:-12px; margin-left:-6px; display:inline-block; height:6px; width:12px; border-bottom:6px solid #fefefe; border-top:6px solid transparent; border-left:6px solid transparent;border-right:6px solid transparent; z-index:9999;}
.menu-nav ul li .se-item ul li{ border-bottom:1px solid #e9e6e6; text-align:center; margin:2px 0px 0px 0px; padding:0px; float:none; width:90px; line-height:30px;}
.menu-nav ul li .se-item ul li:hover{ background:none;}
.menu-nav ul li .se-item ul li:hover a{ background:#d7e7ef; border-radius:4px;}
.menu-nav ul li .se-item ul li:last-child{ border:none;}	
.menu-nav ul li .se-item ul li a{ display:inline-block; color:#4b6f81; margin:0px; padding:0px 10px; margin-bottom:2px;}
/*******************************集群状态****************************/
.main-nav{ width:1024px; margin:0px auto 20px auto;}
.aggregate-nav{ margin-top:10px;}
.aggre-title{ line-height:32px; border-bottom:1px solid #dedcdc; margin-bottom:8px;}
.aggre-title span{ width:50%; display:inline-block; vertical-align:middle;}
.aggre-title span a{ width:16px; height:16px; line-height:16px; display:inline-block; margin-right:6px; cursor:pointer; vertical-align:middle;}
.ico-show{ background:url(../images/ico-sq-zs.png) left top no-repeat;}
.ico-hide{ background:url(../images/ico-sq-zs.png) left bottom no-repeat;}
.aggre-item{ background:#FFF; border:1px solid #dedcdc; border-radius:4px; padding:15px 0px 0px 0px;}
.aggre-item ul li{ margin-bottom:15px; border-right:1px solid #f2f2f2; width:102px; text-align:center; float:left; cursor:pointer;}
.aggre-item ul li p{ line-height:24px;}
.aggre-item ul li a:hover{ color:#749baf;}
.bor-no{ border:none !important;}
/*******************************底部****************************/
.footer-bg{ background:#f2f2f2; border-top:1px solid #dedddd;  text-align:center; line-height:34px; font-size:13px; color:#4b6f81;}
/*******************************一键部署****************************/
.lh-34{ line-height:34px !important; height:34px !important;}
.jq-nav{ margin-top:4px;}
.jq-nav-fun{ line-height:34px;}
.jq-nav-fun span:first-child{ width:20%; display:inline-block;}
.jq-nav-fun span:last-child{ width:79%; display:inline-block;}
.jq-nav-fun input{ display:inline-block; vertical-align:middle;}
.jq-table{ border-radius:6px;background-color:#fff;border:1px solid #e5e5e5; margin-top:4px;}
.jq-table table{ margin-left:0.5%;}
.jq-table table tr td,.jq-table table tr th{ line-height:36px; border-bottom:1px solid #e5e5e5;}
.jq-table table tr td:first-child,.jq-table table tr th:first-child{ padding-left:20px;}
.jq-table table tr th{ font-weight:normal;}
.jq-table table input[type=checkbox]{ display:inline-block; vertical-align:middle;}
.jq-table table a:hover{ color:#749baf;}
/*******************************监控中心****************************/
.panel{
	width: 1024px;
	margin:5px auto;
	padding: 10px;
}
.leftpart,.rightpart{
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	min-height: 480px
}
.leftpart{
	width: 210px;
	float: left;
	padding: 10px 0;
}
.rightpart{
	width: 786px;
	float: right;
	padding: 10px;
}
.tree-title{
	padding: 7px 10px;
	cursor:pointer;
}
.tree-title:hover{
	background:#f5f5f5;
	}
.tree-title em,.tree-main li em{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 5px;
}
.tree-title em.down{
	background: url(../images/down.png) center no-repeat;
	-webkit-background-size: 14px;
	background-size: 14px;
}
.tree-title em.right{
	background: url(../images/ico-right.png) center no-repeat;
	-webkit-background-size: 14px;
	background-size: 14px;
}
.tree-main{
	padding-left: 20px;
}
.tree-main li{
	padding: 3px 10px;
	font-size: 12px;
	cursor:pointer;
}
.tree-main li.on{
	background-color: #cde8ff;
}
.tree-main li:hover{
	background-color: #f5f5f5;
}
.tree-main{
	display: none;
}
.tree-main.on{
	display: block;
}
.tree-main li em.zt-normal{
	background:url(../images/ico-zt.png) 0px 5px no-repeat;
}
.tree-main li em.zt-warning{
	background:url(../images/ico-zt.png) 0px -29px no-repeat;
}
.tree-main li em.zt-serious{
	background:url(../images/ico-zt.png) 0px -63px no-repeat;
}

.tree-main li em.zt-grey{
	background:url(../images/ico-zt.png) 0px -97px no-repeat;
}
.server-title{
	padding: 5px;
}
.server-title span{
	width: 49%;
	display: inline-block;
	vertical-align: top;
}
.server .server-name{
	color: #4b6f81;
	display: inline-block;
}
.server-title .fullsc{
	text-align: right;
}
.table-panel{
	border: 1px solid #e5e5e5;
	background-color: #eee;
	border-radius: 4px;
}
.table-panel th,.table-panel td{
	font-weight: normal;
	padding:10px 0;
	border-bottom: 1px solid #e5e5e5 
}
.table-panel tr:last-child th,.table-panel tr:last-child td{
	border-bottom: none;
}
.table-panel th{
	text-align: right;
}
.table-panel td{
	text-align: left;
}
.tab-nav,.tab-contain{
	float: left;
}
.tab-contain{
	margin-left: 10px;
}
.tab{
	padding: 10px;
	margin-top: 10px;
}
.tab-nav{
	width: 210px;
	border-right: 1px solid #e5e5e5;
}
.tab-nav li{
	padding: 10px;
	cursor: pointer;
}
.tab-nav li:hover{
	background-color: #f5f5f5;
}
.tab-nav li.on{
	background-color: #cde8ff;
}
.tab-main{
	display: none;
}
.tab-main.active{
	display:block;
}
/*******************************集群管理****************************/
.wrap{
	width: 1024px;
	margin:15px auto;
	padding: 10px;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #e5e5e5
}
.title{
	margin-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
	line-height:34px;
	padding-bottom:6px;
} 

.title .title-name{
	color:#4b6f81;
	display: inline-block;
	font-weight: bold;
}
.title span{
	width: 49%;
	display: inline-block;
	vertical-align: top;
} 
.xzjq{
	text-align: right;
}
.infotable table{
	width: 100%;
	border: 1px solid #e5e5e5;

}
.infotable table tr th,.infotable table tr td{
	font-weight: normal;
	padding: 6px 0;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}
.infotable table tr:last-child th,.infotable table tr:last-child td{
	border-bottom: none;
}
.btn{
	background-color: #5a8ba4;
	border-radius: 4px;
	border: 0;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	padding: 0 1em;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.btn:hover{
	background-color: #6a9eb8;
}
.btn[disabled]{
	background-color: #aeb1b3;
	cursor:default;
}
.jqchoose select{
	min-width: 15em;
	padding: .3em 0 .3em 1em;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
/*弹窗*/
.pop{
	background-color: #fff;
	padding: 10px;
}
.pop tr td{
	padding: 5px;
}
.pop tr td:first-child,.pop tr td:nth-child(3){
	text-align: right;
	min-width: 6em;
}
.pop td input,.pop td textarea,.pop td select{
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	padding: .2em 1em;
	width: 100%;
}
/*分页*/

.pagination, .pagination-round {
	padding-left: 0;
	margin: 1em auto;
	list-style: none;
	color: #999;
	position: relative;
	display: inline-block;
}
.pagination li {
	display: inline-block;
	background-color: #fff;
	line-height: 1.2;
	border-radius: .4em;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 1px solid #ddd;
}
.pagination a {
	position: relative;
	display: inline-block;
	padding: .5em 1em;
	color: #333;
	text-decoration: none;
}
.pagination .active {
	border-color: #6a9eb8;
	cursor: default;
}
.pagination .active a {
	color: #fff;
	background-color: #5a8ba4;
}
.btn.btn-rounded {
	border-radius: 1.5em;
}
.pagination-round>li {
	display: inline-block;
	margin-left: -3px;
	margin-right: -3px;
}
.pagination-round>li>a, .pagination-round>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #428bca;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination-round>.active>a, .pagination-round>.active>span, .pagination-round>.active>a:hover, .pagination-round>.active>span:hover, .pagination-round>.active>a:focus, .pagination-round>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca;
}
.pagination-round>li:first-child>a, .pagination-round>li:first-child>span {
	margin-left: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination-round>li:last-child>a, .pagination-round>li:last-child>span {
	margin-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 0;
}
.pagination a:hover {
	border-color: #39F;
	color: #6a9eb8;
}
.pagination .active a:hover{
	color: #fff;
}
.pagination li:hover, .pagination-round li:hover {
	border-color: #9CCFF5;
	background-color: #DCEFFA;
}
/*******************************注意事项****************************/
.case-nav{ margin:10px 0px;}
.case-nav-title{ line-height:20px; padding:5px; border-bottom:1px solid #e0e0e0; }
.case-nav-title b{ padding-left:28px; background:url(../images/case-pic.png) no-repeat;}
.case-nav ul li{ margin-top:4px; width:49.5%; text-indent:20px; display:inline-block; vertical-align:top; line-height:22px; font-size:12px;}
.case-content{ margin:10px 15px; text-align:left;}
.case-content img,.case-content span{ display:inline-block; vertical-align:middle; margin-left:8px;}

/*******************************Server-Center****************************/
.server-panel{ margin:10px auto; line-height:36px;}
.server-panel .server-span{ background:#e2e2e2; border-radius:4px; margin-right:10px;}
.server-panel .server-span span{display:inline-block; width:80px; text-align:center; cursor:pointer; border-right:1px solid #d2d2d2;}
.server-panel .server-span span em{ background:#f5f5f5; padding:0px 5px; border-radius:8px; margin-left: 5px;}
.server-panel .server-span span:first-child{ border-radius:4px 0px 0px 4px;}
.server-panel .server-span span:last-child{ border-radius: 0px 4px 4px 0px; border-right:0px;}
.server-panel .server-span span.cur{ background:#5a8ba4; color:#fff;}
.server-panel .server-span span.cur em{ color:#000;}
.server-panel .server-span span:hover{ background:#d2d2d2;}
.server-panel .server-span span.cur:hover{ background:#5a8ba4; color:#fff;}
.server-panel .server-span span.cur:hover em{ color:#000;}

.sx-pic{ background:url(../images/sx-pic.png) center top -3px no-repeat; display:inline-block; height:32px; width:16px; vertical-align:middle; margin-right:3px;}
.sever-list{ background:#FFF; border-radius:4px; width:48%; border:1px solid #d2d2d2;}
.sever-list ul li{ line-height:34px; border-bottom:1px solid #d2d2d2;}
.sever-list ul li span{ width:20%; display:inline-block; text-indent:6px; overflow:hidden; text-overflow:ellipsis;word-break:keep-all; white-space:nowrap; vertical-align:top;}
.sever-list ul li span:first-child{ width:55%;}
.server-item{}
.server-item ul li:hover{ background-color:#f5f5f5;}
.server-item ul li:last-child{ border-bottom:0px;}
.server-item li.cur{ background-color:#cde8ff !important;}
.server-info{ width:51%; background:#FFF; border-radius:4px; border:1px solid #d2d2d2;}
.server-node{ line-height:36px; background:#efefef;}
.server-node b{ margin-left:6px;}
.pd15{ padding:15px;}
.server-contant{ margin-bottom:15px;}
.server-contant .node-title{ padding:2px 3px; background:#666; color:#FFF; font-size:12px; border-radius:4px;}
.node-contant{ background:#efefef; border-radius:4px; border:1px solid #d2d2d2; padding:6px 10px;line-height:24px;overflow:auto}
.node-contant p{ word-break:break-all; font-size:13px;}

/*******************************target****************************/
.target-nav{}
.target-manage{border-radius:4px; margin:10px; background:#FFF; border:1px solid #e0e0e0; padding:10px;}
.target-table tr td{ padding:2px 3px; line-height:30px;}
.target-table tr td span{ line-height:20px; display:inline-block; padding:0px 8px; margin-right:10px; background:f8f8f8; border:1px solid #e0e0e0; border-radius:2px; cursor:pointer; vertical-align:top; margin-top:5px;}
.target-table tr td span em{ margin-left:4px; vertical-align:top; display:inline-block; height:19px; width:16px; background:url(../images/ico-sq-zs.png) center top 2px no-repeat;}
.target-table tr td span:hover{ background:#e8e8e8;}
.target-table tr td span.cur em{ background:url(../images/delet.png) center bottom 1px no-repeat;}
.targer-warning{ margin:10px;}
.targer-warning table tr td{ padding:2px 3px; line-height:28px;}
.targer-warning table tr td textarea{ width:100%; padding:3px; border-radius:4px;}
.targer-warning table tr td button{ margin-left:10px;}
.save-btn{ border-top:1px solid #b0b0b0; padding-top:15px; }

/*******************************operat_instruct****************************/
.orange{ color:#F63;}
.structure{ margin-bottom:12px;}
.structure-title{ line-height:24px; font-size:14px; text-align:left;}
.structure-item{ border:1px solid #d2d2d2; padding:5px 1%; line-height:26px; border-radius:4px;}
.structure-item label{ width:19.5%; display:inline-block; vertical-align:middle;}
.structure-item label input[type=checkbox]{ display:inline-block; vertical-align:middle; margin-right:6px;}
.structure table{ line-height:28px;}
.structure table td{ padding:3px 0px;}
.structure table td input[type=text]{ width:100%; padding:.3em 0 .3em 0; text-indent:4px; border:1px solid #e0e0e0; border-radius:4px;}
/*******************************remoteDirectory(远程目录)****************************/
.rd-top{
    height: 40px;
	display: -webkit-box;
	display: box;
	-webkit-box-pack: justify;
	box-pack: justify;
	line-height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	user-select:none;
	-webkit-user-select:none;
}
.rd-top-left{
	width: 10em;
	text-align: center;
    background: #4b6f81;
    color: #fff;
}
.rd-top-center{
	text-align: left;
	-webkit-box-flex: 1;
	box-flex: 1;
	min-width: 300px;
	line-height: 1;
	overflow: hidden;
	position: relative;
}
.rd-top-right{
	width: 14em;
    text-align: left;
    border-left: 1px solid #e5e5e5;
    padding-left: 1em;
}
.rd-more{
	position: absolute;
	width: 20px;
	height: 100%;
	top: 0;
	left: -20px;
	/*background-color:rgba(123,212,243,1);*/
	z-index: 2;
	border-right: 1px solid #f1f1f1;
	background: #F0FFFF url(../images/icon-left.png) no-repeat center;
	-webkit-background-size:80%;
	background-size:80%;
}
.rd-more-right{
	position: absolute;
	width: 20px;
	height: 100%;
	top: 0;
	right: -20px;
	z-index: 2;
	border-right: 1px solid #f1f1f1;
	background: #F0FFFF url(../images/icon-rd-right.png) no-repeat center;
	-webkit-background-size:80%;
	background-size:80%;
	cursor:pointer;
	}
.rd-route{
	display:inline-block;
	height: 100%;
	padding: 10px 0;
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	z-index: 1;
	cursor:pointer;
}

.rd-route a{
	display: inline-block;
	padding: 2px 2em 2px 10px;
	background: url(../images/icon-right.png) no-repeat center right;
	-webkit-background-size: 1em;
	background-size: 1em;
	color:#4d5879;
	border: 1px solid #fff }
.rd-route a:hover,.rd-route a.current{
	border-radius: 10em;
	border: 1px solid #ccc
}
.rd-main{
    height: calc(100% - 50px);
    margin-top: 10px;
	border-top: 1px solid #e5e5e5;
	position: relative;
}
.rd-main-left{
	overflow: auto;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 16em;
	height: 100%;
	border-right:1px solid #e5e5e5;
    overflow: auto;
}
.rd-main-right{
	width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    padding: 1em 1em 1em 17em;
    display: -webkit-box;
    display: box;
    overflow: hidden;
}
.menu-display{
	height: 100%;
	min-width: 190px;
	-webkit-box-flex:1;
	box-flex:1;
	overflow-y: auto;
	background-color: #fff;
    border: 1px solid #efefef
}
.catalog-detal{
	width: 84%;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	margin-left: 1em;
	padding: 1em;
}
.menu-display-img,.menu-display-list{
	width: 100%;
}
.menu-display-list li{
	padding: .3em .5em;
	color: #333;
	border: 1px solid #fff;
	width: 100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.menu-list-folder span,.menu-list-fold span{
	display: inline-block;
	height: 1.6em;
	width: 1.6em;
}
.menu-list-folder span{
	background: url(../images/folder-ico.png) no-repeat center bottom;
	-webkit-background-size: 70%;
	background-size: 70%;
}
.menu-list-fold span{
	background: url(../images/fold-ico.png) no-repeat center bottom;
	-webkit-background-size: 70%;
	background-size: 70%;
}
.menu-display-list li.current,.menu-display-list li:hover{
	background: rgba(123,212,243,.2);
	border: 1px solid rgba(123,212,243,.5);
	cursor: pointer;
}
.menu-display-img  li{
	display: inline-block;
    width: 110px;
    height: 139px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    margin: .5em;
    border: 1px solid #fff;
    margin-bottom: 1em;
}
.catalog-ico{
    width: 100%;
    height: 94px;
}
.menu-display-img  li a{
	display: block;
}
.menu-display-img  li.current,.menu-display-img  li:hover{
	border-radius: 4px;
	background: rgba(123,212,243,.2);
	border: 1px solid rgba(123,212,243,.5);
}
.menu-display-img li p{
    height: 30px;
    color: #555;
    line-height: 1.2em;
}
.menu-display-img  .folder-ico{
	background: url(../images/folder-ico.png) no-repeat center 4px;
	-webkit-background-size: 90%;
	background-size: 90%;
}
.menu-display-img  .fold-ico{
	background: url(../images/fold-ico.png) no-repeat center 18px;
	-webkit-background-size: 70%;
	background-size: 70%;
}
/*滚动条loading end*/
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
	width: 8px;
	border-radius: 0px;
	background:rgba(200,200,200,0.4);
}
::-webkit-scrollbar-thumb {
	width: 6px;
	border-radius: 3px;
	background: #999;
}
.checkbox-switch {
	display: inline-block;
	width: 54px;
	height: 31px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #e3e3e3;
	border-radius: 20px;
	position: relative;
	box-shadow: inset 0 0 0 12px #fff;
	cursor: pointer;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: switchAnimationOff;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-name: switchAnimationOff;
	vertical-align: middle;
    margin-top: -2px;
}
.checkbox-switch>em {
	display: block;
	width: 27px;
	height: 27px;
	box-shadow: 0 0 2px rgba(0,0,0,.5), 0 5px 6px rgba(0,0,0,.25);
	background-color: #fff;
	border-radius: 50%;
	-webkit-transition: -webkit-transform .1s ease-in-out;
	-webkit-animation-duration: .45s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: switchThumbAnimationOff;
	transition: -webkit-transform .1s ease-in-out;
	animation-duration: .45s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-name: switchThumbAnimationOff;
	pointer-events: none
}
.checkbox-switch>input {
	display: none
}
.checkbox-switch.on {
	border-color: #4b6f81;
	box-shadow: inset 0 0 0 15px #4b6f81;
	-webkit-animation-name: none;
	animation-name: none
}
.checkbox-switch.on>em {
	-webkit-transform: translate3d(23px, 0, 0);
	-webkit-transition-duration: .2s;
	-webkit-animation-duration: .45s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-name: switchThumbAnimation;
	transform: translate3d(23px, 0, 0);
	transition-duration: .2s;
	animation-duration: .45s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-name: switchThumbAnimation
}
@-webkit-keyframes switchAnimationOff {
0% {
box-shadow:inset 0 0 0 15px #e6e6e6
}
49.999% {
box-shadow:inset 0 0 0 0 #e6e6e6
}
50% {
box-shadow:inset 0 0 0 0 #fff
}
100% {
box-shadow:inset 0 0 0 15px #fff
}
}
@-webkit-keyframes switchThumbAnimation {
0% {
width:27px
}
1% {
width:40px
}
100%, 50% {
width:27px
}
}
@-webkit-keyframes switchThumbAnimationOff {
0% {
width:27px
}
5% {
width:45px
}
100%, 50% {
width:27px
}
}
@keyframes switchAnimationOff {
0% {
box-shadow:inset 0 0 0 15px #e6e6e6
}
49.999% {
box-shadow:inset 0 0 0 0 #e6e6e6
}
50% {
box-shadow:inset 0 0 0 0 #fff
}
100% {
box-shadow:inset 0 0 0 15px #fff
}
}
@keyframes switchThumbAnimation {
0% {
width:27px
}
1% {
width:40px
}
100%, 50% {
width:27px
}
}
@keyframes switchThumbAnimationOff {
0% {
width:27px
}
5% {
width:45px
}
100%, 50% {
width:27px
}
}
